/* body {
    --bs-body-bg: #1b1b1b !important;
    --bs-body-color: white !important;
} */

.navbar-light{
    background-color: #080808 !important;
}

/* --bs-navbar-color */
/* 
--darkreader-text--bs-navbar-color: rgba(232, 230, 227, 0.3);
--darkreader-text--bs-navbar-hover-color: #d8d4cf;
--darkreader-text--bs-navbar-disabled-color: rgba(232, 230, 227, 0.3);
--darkreader-text--bs-navbar-active-color: #d8d4cf; */
/* --darkreader-text--bs-navbar-brand-color: #d8d4cf;
    --darkreader-text--bs-navbar-brand-hover-color: #d8d4cf; */
/* 
.navbar{
    --bs-navbar-color: rgba(232, 230, 227, 0.3) !important ;
    --bs-navbar-hover-color: #d8d4cf !important ;
    --bs-navbar-disabled-color: rgba(232, 230, 227, 0.3) !important ;
    --bs-navbar-active-color: #d8d4cf !important ;
    --bs-navbar-brand-color: #d8d4cf !important ;
    --bs-navbar-brand-hover-color: #d8d4cf !important ;
} */

/* --bs-link-color: #1a1a1a;
--bs-link-hover-color: #151515; */


/* a{
    --bs-breadcrumb-divider-color: #a8a095 !important;
    --bs-breadcrumb-item-active-color: #a8a095 !important;
    --bs-link-color: #a8a095 !important;
    --bs-link-hover-color: #a8a095 !important;
}
 */
