/* main{
    min-height: 80vh;
} */
/* 
body{
    background-color: #1b1b1b;
    background-color: red;
} */

/* .navbar{
    background-color:#080808 !important;
}

.card-text{
    color: white !important
} */